# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# IDE settings
.vscode/
.idea/

# Project outputs
Documents/ExtractedText/
Documents/ParsedText/
Documents/pdfs/

# Logs
*.log